<div class="d-flex justify-content-end">
    <nb-action class="px-2">
        <nb-user name="{{user.firstname}} {{user.lastname}}" title="Epic Web-Dev" class="font-weight-bold"></nb-user>
    </nb-action>
    <nb-action class="px-4" nbTooltip="Logout" nbTooltipPlacement="bottom" icon="power-outline" (click)="opendialog()">
    </nb-action>
</div>
    
<!-- <nav class="navbar fixed-top text-right">
    <nb-user name="John Doe" title="Engineer" class="font-weight-bold"></nb-user>
    <nb-actions>
        <nb-action nbTooltip="Logout" nbTooltipPlacement="bottom" icon="power-outline" (click)="opendialog()">
        </nb-action>
    </nb-actions>
</nav> -->